{% extends 'common-code/base.html' %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- bootstrap file link -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <!-- css file link -->
     <link rel="stylesheet" href="{% static 'css/contact.css' %}">

     
     {% block title %} Contact {% endblock title %}
    
</head>
<body>
    
    {% block form %}
        
    
        
    <!-- form  -->

    <div class="container-fluid contact">
        <div class="row">
            <div class="col-lg-6 ">
                <form class="row mt-4 needs-validation bg-primary-subtle shadow-lg m-0 bg-light  p-4" novalidate>
                    <div class="col-md-3">
                      <label for="validationCustom01" class="form-label">First name</label>
                      <input type="text" class="form-control" id="validationCustom01" value="" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom02" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="validationCustom02" value="" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustomUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom03" class="form-label">City</label>
                      <input type="text" class="form-control" id="validationCustom03" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    
                    
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                      <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">ConformPassword</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                      <div class="col-6">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                      </div>
                      <div class="col-6">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                      </div>




                      <div class="col-md-4">
                        <label for="validationCustom05" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                          Please provide a valid zip.
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label for="validationCustom04" class="form-label">State</label>
                        <select class="form-select" id="validationCustom04" required>
                          <option selected disabled value="">Choose...</option>
                          <option>Dhaka</option>
                          <option>Khulna</option>
                          <option>Rangpur</option>
                          <option>Barisal</option>
                          <option>Sylhet</option>
                          <option>Chatgram</option>
                        </select>
                        <div class="invalid-feedback">
                          Please select a valid state.
                        </div>
                      </div>
                    


                    <div class="col-11 mt-2">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <div class="col-11 mt-2">
                      <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 mt-4">
              <img class="carshop" src="{% static 'image/shop.jpg' %}" alt="">
            </div>
        </div>
    </div>


 {% endblock form %}




    <!-- footer -->
  {% block footer %}
    <div class="contact-footer">
      <div class="container-fluid bg-dark ">
        <div class="row ">
          <div class="col-lg-12">
           <div class="footer- d-flex justify-content-between">
              <div class="rightfooter">
                <p class="text-light mt-5">Powered By OpenCart Your Store © 2023</p>
              </div>
              <div class="leftfooter mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
                  <path fill="#3F51B5" d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"></path><path fill="#FFC107" d="M30 14A10 10 0 1 0 30 34A10 10 0 1 0 30 14Z"></path><path fill="#FF3D00" d="M22.014,30c-0.464-0.617-0.863-1.284-1.176-2h5.325c0.278-0.636,0.496-1.304,0.637-2h-6.598C20.07,25.354,20,24.686,20,24h7c0-0.686-0.07-1.354-0.201-2h-6.598c0.142-0.696,0.359-1.364,0.637-2h5.325c-0.313-0.716-0.711-1.383-1.176-2h-2.973c0.437-0.58,0.93-1.122,1.481-1.595C21.747,14.909,19.481,14,17,14c-5.523,0-10,4.477-10,10s4.477,10,10,10c3.269,0,6.162-1.575,7.986-4H22.014z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
                  <path fill="#1565C0" d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"></path><path fill="#FFF" d="M15.186 19l-2.626 7.832c0 0-.667-3.313-.733-3.729-1.495-3.411-3.701-3.221-3.701-3.221L10.726 30v-.002h3.161L18.258 19H15.186zM17.689 30L20.56 30 22.296 19 19.389 19zM38.008 19h-3.021l-4.71 11h2.852l.588-1.571h3.596L37.619 30h2.613L38.008 19zM34.513 26.328l1.563-4.157.818 4.157H34.513zM26.369 22.206c0-.606.498-1.057 1.926-1.057.928 0 1.991.674 1.991.674l.466-2.309c0 0-1.358-.515-2.691-.515-3.019 0-4.576 1.444-4.576 3.272 0 3.306 3.979 2.853 3.979 4.551 0 .291-.231.964-1.888.964-1.662 0-2.759-.609-2.759-.609l-.495 2.216c0 0 1.063.606 3.117.606 2.059 0 4.915-1.54 4.915-3.752C30.354 23.586 26.369 23.394 26.369 22.206z"></path><path fill="#FFC107" d="M12.212,24.945l-0.966-4.748c0,0-0.437-1.029-1.573-1.029c-1.136,0-4.44,0-4.44,0S10.894,20.84,12.212,24.945z"></path>
                </svg>
                <img class="cedit" src="{% static 'image/credit-card.png' %}" alt=""> 
                <img class="paypal" src="{% static 'image/paypal.png' %}" alt=""> 
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock footer %}

  <!--Js of bootstrap file link -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>    