{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for items in card_member %}
                
            
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5>Product: {{items.product.title}}</h5>
                    <p>Quantity: {{items.quntity}}</p>
                    <p class="fw-bold">Price: {{items.item_amount}}</p>
                </div>
            </div>

            {% endfor %}
            <div class="card mb-4 shadow p-3 bg-success text-light text-center">
                <p class="fw-bold">Total Cost : {{total_cost}}</p>
            </div>
            <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe!
                Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium
                adipisci nisi nihil in et quis?</small>
        </div>

        <div class="col-sm-5 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="/paymentdone">
                {% for ad in add %}
                <div class="card shadow ">
                    

                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>{{ad.division}}, {{ad.district}},
                        {{ad.thana}} ,{{ad.villprroad}},{{ad.zipcode}}</p>
                    
                    </div>
                </div>
                <div class="form-check mt-2 mb-3">
                    <input class="form-check-input" name="customerid" id="customeradd{{forloop.counter}}" type="radio" value="{{ad.id}}">
                    <label class="form-check-label fw-bold" for="customeradd">
                        Address: {{forloop.counter}} </label>
                </div>

                {% endfor %}
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}