<head>
    {% load static %}
    {% block css %}
       <link rel="stylesheet" href="{% static 'css/login.css' %}">

    {% endblock css %}
</head>

<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        
        {% if user.non_field_errors %}
        
        {% for error in user.non_field_errors %}
           <p>{{error}}</p> 
        {% endfor %}  
        {% endif %}
            

        {% for use in user %}
        {{use.label_tag}}{{use}}{{use.errors | striptags}} <br> <br>
        {% endfor %}

        <input class="botton" type="submit" value="Login">
   
        <button><a href="{% url 'register' %}">Registesion</a></button> 

       
        
    </form>


 


</body>