<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Home {% endblock title %}</title>
</head>
<body>
    <!-- Navver  -->
    <nav class="navbar navbar-expand-lg navbar-light "  style="background-color: #e3f2fd;">
      
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="mx-3 logo" src="{% static 'image/logo.png' %}" alt="Don't show this image"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              
  
              
              
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
        
    </nav>
    <!-- navber end   -->

    <!-- veriable  -->
    {% block veriable %}
    {% endblock veriable %}

    <!-- contact page  -->
    {% block contact %}
        
    {% endblock contact %}

    <!-- about page  -->
    {% block about %}
        
    {% endblock about %}

    {% block info %}
    
    {% endblock info %}

    <!-- bootstrap.bundle.min.js -->
  <script src="{% static 'js\bootstrap.bundle.min.js'  %}"></script>
</body>
</html>