button {
	width: 106px;
	height: 34px;
	padding: 4px;
	background: aquamarine;
    border-radius: 37px;
}
.botton {
	width: 60px;
	height: 34px;
	padding: 4px;
    background: aliceblue;
    border-radius: 37px;
}
.pass {
	width: 174px;
	border-radius: 30px;
	padding: 4px;
	background: darkkhaki;
}