button {
	width: 73px;
	height: 34px;
	padding: 4px;
	background: cornsilk;
	border-radius: 37px;
}
.botton {
	width: 73px;
	height: 34px;
	padding: 4px;
	background: burlywood;
    border-radius: 37px;
}